<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49771441940-tqsce5ite698bviq27urpn0pnf205upk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49771441940-tqsce5ite698bviq27urpn0pnf205upk</string>
	<key>API_KEY</key>
	<string>AIzaSyDomCvC_I2mMrTUBH9aZiHf78A-JdSaMGg</string>
	<key>GCM_SENDER_ID</key>
	<string>49771441940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stork.nopstation</string>
	<key>PROJECT_ID</key>
	<string>storkph-297500</string>
	<key>STORAGE_BUCKET</key>
	<string>storkph-297500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49771441940:ios:dccd2ef8c341b23bbb9c01</string>
</dict>
</plist>